.infos_generals input[type=text] {
    height: 40px;
    width: 300px;
    background: rgba(111, 181, 114, 0.65);
    border: 0;
    outline: 0;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    color: var(--color-text);
    padding-left: 3px;
    margin-bottom: 8px;
}

::placeholder {
    color: var(--color-text);
    opacity: 0.5;
}

.infos_generals button {
    font-family: var(--font-family);
    color: var(--color-subtext);
    border: none;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    padding: .5rem;
    cursor: pointer;
    margin: 15px;
}

.infos_generals {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}