#inputFile-bis {
    display: none;
}

.input-wapper img {
    height: 30px;
    width: 30px;
}

.input-upload {
    display: flex;
    flex-direction: row;
}

.contianer-checkmark {
    border: 1px solid;
}

.form-annexe {
    display: flex;
    justify-content: space-between;
    width: 390px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 40px;
    background: rgba(111, 181, 114, 0.65);
    cursor: pointer;
}

p {
    color: var(--color-text);
}