.galery {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: var(--font-family);
    color: var(--color-subtext);
}

.galery__img-wrapper {
    width: 200px;
    height: 190px;
    margin: 5px;
}

.galery__img-wrapper img {
    width: 100%;
    height: 100%;
    border: solid 1px rgb(255, 255, 255, .5);
    border-radius: 3px;
}

.container-img-galery {
    position: relative;
    width: 100%;
    height: 100%;
}

#content {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(44, 43, 43, 0.2);
    /* Black background with 0.5 opacity */
    color: white;
    /* Grey text */
    width: 100%;
    /* Full width */
    padding: 8px;
    /* Some padding */
}

#p_content {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 300;
    text-align: center;
    font-size: 14px;
}

#myModal {
    display: none;
}

.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
    /* Could be more or less, depending on screen size */
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 20px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.close {
    color: #e07373;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 12px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(156, 167, 156, 0.65);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 3px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background: rgba(116, 233, 122, 0.65);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(143, 197, 118);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.check p {
    color: var(--color-subtext);
    margin: 8px 0;
}

.galery__img-wrapper:hover {
    background-color: green;
}