.fourmulaire {
    width: 140px;
    height: 150px;
    background: rgba(196, 196, 196, 0.65);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.5);
    margin: .5rem;
}

.fourmulaire p {
    text-align: center;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.90);
    margin: 1rem .3rem;
}

hr {
    width: 100%;
    border: 1px solid #4E983D;
}

.fourmulaire img {
    width: 50px;
    height: 50px;
    margin: .3rem;
}