@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --font-family: 'Manrope', sans-serif;
    --color-footer: #031B34;
    --color-text: hsl(0, 0%, 100%);
    --color-subtext: #4E983D;
    --color-text-error: #c94713;
    --background-color: linear-gradient(180deg, #61CB65 0%, rgba(132, 147, 40, 0.598958) 40.1%, rgba(2, 56, 4, 0.182292) 81.77%, rgba(5, 102, 9, 0) 100%);
}