.container-img {
    position: relative;
    /* Maximum width */
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: 2px;
}

img {
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}

@media print {
    img {
        display: block;
        break-inside: avoid;
    }
}

.content {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(8, 49, 15);
    /* Fallback color */
    background: rgba(70, 110, 76, 0.5);
    /* Black background with 0.5 opacity */
    color: white;
    /* Grey text */
    width: 100%;
    /* Full width */
    padding: 7px;
    /* Some padding */
}

.container-img .content p {
    color: white;
}

@media screen and (max-width:400px) {
    .container-img {
        width: 200px;
        height: 200px;
        border-radius: 5px;
        margin: 2px;
        text-align: center;
    }
}